* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F4F3EE;
  min-height: 100vh;
  position: relative;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: firebrick;
  color: white;
  top: 10%;
  height: 60px;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  border: 2px dashed white;
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;
}
.alert.--error {
  z-index: 1;
  background-color: firebrick;
  color: white;
  opacity: 1;
  transition: all 1s ease;
}
.alert.--message {
  z-index: 1;
  color: black;
  background-color: #CEC9C0;
  opacity: 1;
  transition: all 1s ease;
}

.nav {
  font-weight: 600;
  letter-spacing: 0.07rem;
  background-color: #8A817C;
  color: #F4F3EE;
  width: 100%;
  padding: 1rem 0;
}
.nav__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}
.nav__ul__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 50px;
  border-radius: 0.2rem;
  width: 90%;
}
.nav__ul__li:hover {
  transition: 0.3s all ease;
  transform: scale(0.99);
}
.nav__ul__li:not(hover) {
  transition: 0.3s all ease;
}
.nav__ul__li:active {
  transition: 0.1s all ease;
  background-color: #E0AFA0;
}
.nav__ul__li__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font: inherit;
  width: 100%;
  height: 100%;
}
.nav__ul__li .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.nav__ul__li .logo .logo__img {
  stroke: #F4F3EE;
  stroke-width: 4px;
  fill: none;
  height: 35px;
  margin: auto 2rem;
}
.nav__ul__li .logo .logo__text {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.home {
  width: 100%;
}
.home__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.home__content__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  width: 100%;
  max-width: 300px;
  margin: 0.5rem 0.5rem;
  height: 300px;
  background-color: #CEC9C0;
  border-radius: 0.25rem;
  border: #F4F3EE 1px solid;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}
.home__content__item h3 {
  text-align: center;
  user-select: none;
  letter-spacing: 0.03rem;
  margin: 1.5rem auto auto auto;
  font-size: 1rem;
  width: 90%;
}
.home__content__item img {
  user-select: none;
  cursor: pointer;
  width: 90%;
  border-radius: 0.25rem;
  margin: 0.5rem auto 5% auto;
}
.home__content__navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-decoration: underline;
}
.home__content__navigator p {
  margin: 0 1rem;
  user-select: none;
  cursor: pointer;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}
.account__link {
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

.about {
  margin: 2rem;
}
.about__list {
  margin: 1rem auto;
}
.about__list li {
  margin-left: 3rem;
}

.search {
  background-color: #8A817C;
}
.search__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #8A817C;
  flex-wrap: wrap;
}
.search h4 {
  color: #F4F3EE;
  background-color: #8A817C;
  font-weight: 200;
  text-align: center;
}
.search__input {
  outline: none;
  border: none;
  text-indent: 1rem;
  width: 100%;
  height: 30px;
}
.search button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  border: none;
  outline: none;
  color: #F4F3EE;
  background-color: #8A817C;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: 35px;
  width: 100%;
  right: 1.5px;
  top: 1.5px;
  border-bottom: #F4F3EE solid 3px;
}
.search button:active {
  background-color: #E0AFA0;
}
.search button img {
  height: 23px;
  width: 23px;
}
.search__filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #F4F3EE;
}
.search__filters__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  cursor: pointer;
  height: 35px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 3px;
}
.search__filters__item h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}
.search__filters__item__list {
  list-style: none;
  background-color: #8A817C;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  display: none;
  transition: all 0.3s ease;
}
.search__filters__item__list.--active {
  display: block;
  height: fit-content;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.search__filters__item__list__li input {
  display: none;
}
.search__filters__item__list__li label {
  display: block;
  height: 30px;
  text-indent: 1rem;
  cursor: pointer;
  user-select: none;
}
.search__filters__item__list__li label.--checked {
  background-color: #E0AFA0;
}

.login {
  width: 90%;
}
.login__form legend {
  height: 50px;
  text-align: center;
}
.login__form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  width: 100%;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin: auto auto 0.4rem auto;
}

/*# sourceMappingURL=index.css.map */
