*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

//@TODO REFACTOR SCSS
// MIXINS

// DISPLAY FLEX MIXIN
@mixin flex($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow($y,$x,$grow,$alpha){
    box-shadow: 0 2px 4px rgba(0,0,0, $alpha);
}

@mixin hover-scale($scale){
    &:hover{
        transition: .3s all ease;
        transform: scale($scale);  
    }
    &:not(hover){
        transition: .3s all ease; 
    }
    &:active{
        transition: .1s all ease;
        background-color: $tertiary-color;
    }
}

// COLORS
$primary-color: #F4F3EE;
$secondary-color:#CEC9C0;
// HOVER STATES,ACTIVEf
$tertiary-color:#E0AFA0;
$quaternary-color:#8A817C;

//BOX SHADOW ALPHAS
$primary-bsa:.3;
$secondary-bsa:.7;

// MAIN APP CONTAINER
.app{
    @include flex(column,flex-start,center);
    background-color: $primary-color;
    min-height: 100vh;
    position: relative;
}

// ERROR/MESSAGE


.alert{
    @include flex(row,center,center);
    position: fixed;
    background-color: firebrick;
    color: white;
    top: 10%;
    height: 60px;
    width: 300px;
    padding: 1rem;
    border-radius: 10px;
    border: 2px dashed white;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease;

    &.--error{
        z-index: 1;
        background-color: firebrick;
        color: white;
        opacity:1;
        transition: all 1s ease;
    }

    &.--message{
        z-index: 1;
        color: black;
        background-color: $secondary-color;
        opacity:1;
        transition: all 1s ease;
    }

}



// MAIN NAV
.nav{
    font-weight: 600;
    letter-spacing: .07rem;
    background-color: #8A817C;
    color: $primary-color;
    width: 100%;
    padding: 1rem 0;

    &__ul{
        @include flex(column,center,center);
        user-select: none;
        flex-wrap: wrap;
        list-style-type: none;
        text-align: center;

        &__li{
            @include flex(column,center,center);
            @include box-shadow(0,2px,4px,$primary-bsa);
            @include hover-scale(.99);
            cursor: pointer;
            height: 50px;
            border-radius: .2rem;
            width: 90%;

            &__link{
                @include flex(column,center,center);
                color: inherit;
                text-decoration: none;
                font: inherit;
                width: 100%;
                height: 100%;
            }

            // STYLES FOR HOME LINK
            & .logo{
                @include flex(row,center,center);
                user-select: none;
                color: inherit;
                font: inherit;
                text-decoration: none;
                height: 100%;
                padding-left: 5%;
                padding-right: 5%;
                width: 90%;

                & .logo__img{
                    stroke: $primary-color;
                    stroke-width: 4px;
                    fill: none;
                    height: 35px;
                    margin: auto 2rem ;
                }

                & .logo__text{
                    font-size: 1.6rem;
                    letter-spacing: .2rem;
                }
            }
        }
    }
}

.home{
    width: 100%;
    
    &__content{
        @include flex(row,center,center );
        flex-wrap: wrap;
        margin-top: 1rem;

        &__item{
            @include flex(column,flex-end,left);
            position: relative;
            user-select: none;
            width: 100%;
            max-width: 300px;
            margin: .5rem .5rem;
            height: fit-content;
            background-color: $secondary-color;
            border-radius: .25rem;
            border: $primary-color 1px solid;
            box-shadow: inset 0 1px 4px rgba($color: #000000, $alpha: .3);

            &__banner{
                @include flex(row,space-between,flex-start);
                position: absolute;
                background: rgba($secondary-color, $alpha: .9);
                top: 0;
                width: 100%;
                user-select: none;
                letter-spacing: .03rem;
                font-size: 1rem;
                transition: .5s ease all;
                overflow: visible;

                & h3{
                    text-align: center;
                    padding: .5rem;
                    font-size: 1.1rem;
                    width: 90%;
                    height: 50px;
                    overflow-y: hidden;
                }

                & .like{
                    cursor: pointer;
                    width: 10%;
                    padding: .5rem 1rem 0 0;
                    transition: .3s ease all;
                    

                    & .heart{
                        width: 100%;
                        height: 100%;
                    }

                    &:hover{
                        fill: red;
                    }

                    & .--liked{
                        animation: bounce;
                        animation-duration: .5s;
                        @keyframes bounce{
                            0% {scale:1.0;}
                            50%{scale:1.1;}
                            75%{scale:.75;}
                            100%{scale:1.0;}
                        }
                        
                    }

                }
            


            }

            & img{
                user-select: none;
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: .25rem;
            }

        }

        &__navigator{
            @include flex(row,center,center);
            width: 90%;
            text-decoration: underline;

            & p{
                margin: 0 1rem;
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

.account{
    @include flex(column,center,flex-start);
    margin-top: 1.5rem;
    
    &__link{
        user-select: none;
        cursor: pointer;
        text-decoration: underline;
    }

}

.about{
    margin: 2rem;

    &__list{
        margin: 1rem auto;

        & li{
            margin-left: 3rem;
        }
    }
}

.search{
    background-color: $quaternary-color;

    &__form{
    @include flex(column,flex-start,center);
    background-color: $quaternary-color;
    flex-wrap: wrap;
    }
    & h4{
        color: $primary-color;
        background-color: $quaternary-color;
        font-weight: 200;
        text-align: center;
    }

    &__input{
        outline: none;
        border: none;
        text-indent: 1rem;
        width: 100%;
        height: 30px;
        }
    
    & button{
        @include flex(row,center,center);
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .07rem;
        border: none;
        outline: none;
        color: $primary-color;
        background-color: $quaternary-color;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        height: 35px;
        width: 100%;
        right: 1.5px;
        top: 1.5px;
        border-bottom: $primary-color solid 3px;
        
        // &:hover{
        //     background-color: $;
        // }

        &:active{
            background-color: $tertiary-color;
        }

        & img{
            height: 23px;
            width: 23px;
        }
    }

    &__filters{
        @include flex(row,center,center);
        flex-wrap: wrap;
        width: 100%;
        color: $primary-color;



        &__item{
            @include flex(column,center,center);
            position: relative;
            width: 50%;
            cursor: pointer;
            height: 35px;
            border-bottom: rgba($color: #000000, $alpha: .1) solid 3px;
            

            & h4{
                @include flex(column,center,center);
                width: 100%;
                height: 100%;
                user-select: none;
            }

            &__list{
            list-style: none;
            background-color: $quaternary-color;
            position: absolute;
            top: 35px;
            left: 0;
            width: 100%;
            height: 0;
            z-index: 3;
            display: none;
            transition: all .3s ease;

            &.--active{
                display: block;
                height: fit-content;
                transition: all .3s ease;
                @include box-shadow(0,2px,4px,.5 )
            }

            &__li{

                & input{
                    display: none;
                }

                & label{
                    display: block;
                    height: 30px;
                    text-indent: 1rem;
                    cursor: pointer;
                    user-select: none;
                    &.--checked{
                        background-color: $tertiary-color;
                    }
                }
            }

            } 
        }
        
        
        
    }
    }

.login{
    width: 90%;

    &__form{

        & legend{
            height: 50px;
            text-align: center;
        }
    
        & fieldset {
            @include flex(column, center, center);
            margin: 1.5rem auto;
            width: 100%;
            border: none;            
            }
    }
}
.footer{
    @include flex(column,center ,center);
    padding-top: 2rem;
    margin: auto auto .4rem auto;
}

// @MEDIA QUERIES

@media screen and (min-width: 768px){
    
    // get filters in one row with flex wrap


        
    // }
}